   <br>


<div class="card text-center mb-4 border-0" style="width: 60rem;">
  <div class="card-body">

    <h1 class="display-4 text-center fw-bold">Footgolf Courses in Ireland </h1>

    <p class="card-text">Ireland have some of the top Footgolf Courses all around the world. From the coast of Cork all the way to the hills of Kildare, we have somne of the best kept courses and facilites. 
    No matter what your skill level, Ireland have courses that challenge some of our top players, while still accomadating the beginners with special tee off areas to make it fun for everyone involed. Here is a list of some of the top courses we have to date here in Ireland!</p>
  </div>
</div>



<div class="card" style="width: 70rem;">
  <video src="video/drone.mp4" autoplay loop></video>
</div>
 <hr class="my-4">

<div class="card " style="width: 60rem;">
  <div class="card-body">
    <h3 class="card-title">Footgolf Kildare</h3>
 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>
<h7>Highfield Golf Club, Carbury, Co. Kildare</h7><br><br>
<p class="card-text">Footgolf Kildare is Irelands leading course. It is build beside the 18 hole golf course at Highfield in Kildare. It combines the use of water, bunkers and tress just like in real golf, to make your round as fun and challenging as possible.  
  Footgolf Kildare also host one of the most saut after Footgolf tournments every year, the Footgolf Irish Open. This is where players from all around the world gather and compete for prize money and a chance to be crowned the Footgolf Irish Open Champion.</p>
    <a href="https://footgolfkildare.ie/book-now/" class="btn btn-info" role="button">Learn More</a>
     <div class="float-end card">  
    <div id="rating1" class="star-rating" role="rating" data-rating="3">
        <h7 class="review-stat">Course Difficulty</h7>
      <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="5">&#9733;<span class="star-notification"></span></span>
    </div>
    </div>
  </div>
  <img src="images/hf.jpg" class="card-img-top" alt="...">
</div>

<br><br>



<div class="card " style="width: 60rem;">
  <div class="card-body">
    <h3 class="card-title">Pococke Killkenny</h3>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>
<h7>Pococke Golf Course, Johnswell Road, Co. Kilkenny</h7><br><br>
<p class="card-text"></p>The Pococke Golf Centre in Kilkenny City  combines two of the worlds most popular sports football and golf.
With their beautiful landscape and challenging holes spread accross their golf course, it makes for an enjoyable day out. Pococke Golf Centre is a located just on the edge of Kilkenny City and great location for everyone to have a great time while enjoying
 the outdoors whether playing Footgolf or Golf. <br><br>
    <a href="https://pocockegolfcentre.com/footgolf/" class="btn btn-info" role="button">Learn More</a>
         <div class="float-end card">  
    <div id="rating1" class="star-rating" role="rating" data-rating="3">
        <h7 class="review-stat">Course Difficulty</h7>
      <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="5">&#9734;<span class="star-notification"></span></span>
    </div>
    </div>
  </div>
  <img src="images/killkenny.jpg" class="card-img-top" alt="...">
</div>




<br><br>





<div class="card " style="width: 60rem;">
  <div class="card-body">
    <h3 class="card-title">Footgolf Cork</h3>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>
<h7>Ringenane, Kinsale, Co. Cork</h7><br><br>
<p class="card-text">Situated on the outskirts of Kinsale in Co.Cork, FootGolf Cork is the first and only purpose built FootGolf course in the South of Ireland. Seperate from any golf course, footgolf in Cork can be enjoyed with the lovely views beside the river Stick. 
  Footgolf Cork also provides people with other fun activities like hurling golf, archery and nurf war. 
</p>
    <a href="https://www.footgolfcork.com/" class="btn btn-info" role="button">Learn More</a>
             <div class="float-end card">  
    <div id="rating1" class="star-rating" role="rating" data-rating="3">
        <h7 class="review-stat">Course Difficulty</h7>
      <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
      <span class="star" data-value="3">&#9734;<span class="star-notification"></span></span>
      <span class="star" data-value="4">&#9734;<span class="star-notification"></span></span>
      <span class="star" data-value="5">&#9734;<span class="star-notification"></span></span>
    </div>
    </div>
  </div>
  <img src="images/cork4.jpg" class="card-img-top" alt="...">
</div>