<br><br><br><br>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h2 class="card-title text-center">Score Sumbitted Successfully</h2>
    <br>

    <a href="/score" class="btn btn-primary d-flex justify-content-center" role="button">Enter Another Score</a>
  </div>
</div>